.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav component */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  margin-right: 20px;
}

nav img {
  margin-left: 20px;
}

nav img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
}

nav a {
  text-decoration: none;
  color: black;
  display: block;
	position: relative;
	padding: 0.2em 0;
  margin-right: 40px;
}

nav li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: hotpink;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

nav li:hover::after,
nav li:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

nav a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

nav a:hover::after,
nav a:focus::after{
  transform: scale(1);
}

#logout-nav {
  cursor: pointer;
}


/* home page */

#home {
  position: absolute;
  bottom: 0;
  height: 90%;
  width: 100%;
  background-image: url('https://i.imgur.com/VPcZoBh.jpg');
  background-size: cover;
}

#home-content {
  background-color: rgba(255, 255, 255, 0.849);
  width: 400px;
  height: 200px;
  position: absolute;
  margin-top: -100px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
}



/* User Trips List */
.user-trips ul {
  list-style-type: none;
  padding-left: 0;
}


/* Single Trip Components */
.single-trip-item:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.trip-modal {
  position: absolute;
  top: 100px;
  z-index: 10;
  background-color: red;
  height: 100%;
  width: 100%;
}



/* day components */
.day-container {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.day-component {
  width: 200px;
  background-color: aqua;
  margin: 20px;
}

.day-component p {
  margin: 0px;
}



/* footer component */
#footer {
  position: absolute;
  bottom: -15px;
  width: 100%;
  z-index: 5;
  background-color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#footer a {
  text-decoration: none;
  color: black;
}

