.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav component */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  margin-right: 20px;
}

nav img {
  margin-left: 20px;
}

nav img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
}

nav a {
  text-decoration: none;
  color: black;
  display: block;
	position: relative;
	padding: 0.2em 0;
  margin-right: 40px;
}

nav li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #659DBD;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

nav li:hover::after,
nav li:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

nav a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

nav a:hover::after,
nav a:focus::after{
  transform: scale(1);
}

#logout-nav {
  cursor: pointer;
}


/* home page */

#home {
  position: absolute;
  top: 55px;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.imgur.com/gg3jb03.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

#home-content {
  width: 500px;
  height: 200px;
  position: absolute;
  margin-top: -100px;
  margin-left: -250px;
  top: 40%;
  left: 50%;
  border-radius: 10px;
  color: white;
}

#home-btn-trips {
  width: 140px;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  color: #659DBD;
}

#home-btn-trips:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#home-content h1 {
  letter-spacing: 8px;
  font-size: 56px;
  margin: 25px;
}

#home-description {
  margin-bottom: 25px;
}


/* style new trip component */
#new-trip-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.imgur.com/gg3jb03.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#new-trip {
  border-radius: 10px;
  box-shadow: 5px 10px 8px #659DBD;
  width: 800px;
  height: 350px;
  background-color: white;
}

#new-trip form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#new-trip .input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-bottom: 20px;
}

#new-trip .input-field input {
  width: 200px;
  margin: 0;
  padding: 2px;
}

.submit-btn {
  border-radius: 20px;
  background-color: #daad86;
  border: none;
  padding: 15px;
  color: white;
}

.submit-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/* user account page */
#account-user {
  font-style: italic;
}

#account-component {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, #DAAD86, white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#account-component button {
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 130px;
  background-color: white;
}


/* signup and login pages */
#signup-page-wrapper, #login-page-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.imgur.com/gg3jb03.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#signup-page, #login-page {
  border-radius: 10px;
  box-shadow: 5px 10px 8px #659DBD;
  width: 800px;
  height: 250px;
  background-color: white;
}

#signup-page form , #login-page form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#signup-page .input-field, #login-page .input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-bottom: 20px;
}

#signup-page .input-field input, #login-page .input-field input {
  width: 200px;
  margin: 0;
  padding: 2px;
}

.submit-btn {
  border-radius: 20px;
  background-color: #daad86;
  border: none;
  padding: 15px;
  color: white;
}

.submit-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}




/* User Trips List */
.user-trips ul {
  list-style-type: none;
  padding-left: 0;
}


/* trips component page */
#user-trips {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.imgur.com/gg3jb03.jpg');
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

#user-trips ul {
  padding: 0;
}


/* Single Trip Components */
.single-trip-item {
  border-radius: 10px;
  box-shadow: 5px 10px 8px #659DBD;
  width: 250px;
  height: 250px;
  background-color: white;
}

.single-trip-item:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.trip-preview {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}



/* modal component */
.trip-modal {
  position: fixed;
  top: 55px;
  left: 0px;
  z-index: 5;
  background-color: red;
  height: 90%;
  width: 100%;
  overflow: scroll;
  background: linear-gradient(to bottom right, #659DBD, white);
}

.single-trip-container {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

.trip-img {
  height: 200px;
  width: 300px;
  border-radius: 5px;
  border: solid white 1px;
}

#edit-icon {
  height: 15px;
  width: 15px;
}

.img-transportation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* transportation component */
.transportation-component {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.transportation-component button {
  border-radius: 20px;
  background-color: #daad86;
  color: white;
  border: none;
  box-shadow: 5px 10px 8px lightgray;
  padding: 10px;
}

.transportation-component button:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: none;
}



/* day components */
.day-container {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.day-component {
  width: 200px;
  background-color: #d6bea8;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
}

.day-component p {
  margin: 0px;
}

.day-btns {
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgray;
  margin: 5px;
}

.day-btns:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: none;
}

.misc-btn {
  margin: 5px;
  border-radius: 20px;
  background-color: #daad86;
  color: white;
  border: none;
  box-shadow: 5px 10px 8px lightgray;
  padding: 10px;
}

.misc-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: none;
}

.people-list {
  list-style-type: none;
  padding: 0;
}

.back-arrow:hover {
  transform: scale(1.1);
  cursor: pointer;
}



/* footer component */
#footer {
  position: absolute;
  bottom: -70px;
  height: 65px;
  width: 100%;
  z-index: 5;
  background-color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

#footer h5 {
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

#footer ul a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

#footer ul {
  margin-left: 20px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
}

#copyrights {
  margin-right: 20px;
  font-size: 12px;
}

#copyrights img {
  height: 10px;
  width: 10px;
}



